<div class="footer">
    <!-- Footer -->
<footer class="bg-success text-center text-lg-start mt-5">
    <div class="row">
        <div class="col"></div>
        <div class="col-7">
            <div class="text-center p-3 lead"> 
                <ul> By 
                    <a _ngcontent-kxr-c0="" aria-label="Información sobre el autor" href="https://github.com/theblackbar" target="_blank">Jair Barcasnegras</a>,
                    <a _ngcontent-kxr-c0="" aria-label="Información sobre el autor" href="https://github.com/fuentesDeveloper" target="_blank">Martin Fuentes</a>,
                    <a _ngcontent-kxr-c0="" aria-label="Información sobre el autor" href="https://github.com/helymar" target="_blank">Helymar Acosta</a>,
                    <a _ngcontent-kxr-c0="" aria-label="Información sobre el autor" href="https://github.com/pantosta0" target="_blank">Santiago Palmet</a>,
                    <a _ngcontent-kxr-c0="" aria-label="Información sobre el autor" href="https://github.com/OmarAmell" target="_blank">Omar Amell</a>
                </ul>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        2021 :
        <a class="text-dark" href="https://www.uninorte.edu.co/">Universidad del Norte</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->

</div>
<script src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js"></script>
<script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>