<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Bienestar</title>
    <!-- NAVIGATION -->
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
  </head>
  <body>

    <!-- navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
      <a class="navbar-brand" style="padding-left: 10%; font-size: x-large; margin-top: 0%;" href="/">Bienestar</a>
    </nav>
    
